#aboutmeLi {
    font-size: x-large;
}

body {
    background-color: rgb(233, 233, 230);
}

.container {
    display: flex;
    flex-wrap: wrap;
  }
#tablehead {
    font-weight: bolder;
}  

.about {
    font-family: cursive;
}


@media  screen and (max-width: 600px) {
    body {
      background-color:red;
    }
  
  }